*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
}
.logo{
    color: tomato;
    font-size: 58px;
    font-family: cursive;
    padding-left: 10px;
    float: left;
    padding-top: 0px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 63px;
    margin-top: 27px;
    font-size: 16px;

}
ul li a{
    text-decoration: none;
    color: rgb(13, 13, 116);
    font-family: cursive;
    font-weight: bold;


}
ul li a:hover{
    color: tomato;
}
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 40%;
    background:rgba(0, 0, 0, 0.7) ;
    text-align: center;


}
.box h1{
    color:white;
    text-transform: uppercase;
    font-family: cursive;
} 
.box input[type = "text"],.box input[type ="password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 220px;
    color: white;
    border-radius: 25px;
    transition: 0.25px;
} 
.box input[type = "text"]:focus,.box input[type ="password"]:focus{
    width: 270px;
    border-color:tomato;
}
.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 100px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
   
}
.box input[type = "submit"]:hover{
    background-color: tomato;
}
       
